<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ทดสอบซ้อมรสมือ</title>
</head>
<body>
    <a href='{% url "tag_for" %}'> tag_for </a><br>
    <h1>ทดสอบ</h1>
    <ul>
        <li>name : {{name}}</li>
        <li>age : {{age}}</li>
        <li>city : {{city}}</li>
    </ul>
    <ul>
        <li>Num0 : {{number.0}}</li>
        <li>Num1 : {{number.1}}</li>
        <li>Num2 : {{number.2}}</li>
    </ul>
    
    <ul>
        <li>dept : {{dept.ece}}</li>
        <li>dept : {{dept.ie}}</li>
    </ul>
    <ul>
        <li>date : {{date}}</li>
        <li>day : {{date.day}}</li>
        <li>month : {{date.month}}</li>
        <li>year : {{date.year}}</li>
    </ul>

</body>
</html>