.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
 "header header"
 "main sidebar"
 "footer footer";
}
.site-header {
    grid-area: header;
}
.main-area {
    grid-area: main;
}
.sidebar-area {
    grid-area: sidebar;
}
.site-footer {
    grid-area: footer;
}